h1 {
  color: aqua;
}
div {
  background-color: purple;
  color: antiquewhite;
  font-size: 24px;
  width: 100%;
  max-width: 200px;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 576px) {
  div {
    font-size: 16px;
  }
}
p.blue {
  color: blue;
}

section {
  height: 80vh;
  border: 1px solid black;
}
button:hover{
    background-color:black ;
    color: white;
}
button{
    transition: all 300ms;
    padding:10px;
    margin: 1px; 
}
